@use "../../styles/forms" as forms;

.container {
  padding: 1.25rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.createButton {
  align-self: flex-start;
  @include forms.primary-button;
}

.budgetList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
